<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="coulmns">
      <div class="coulmns">
      <div class="coulmns">
      </div>
    </div>
  </div>
</div>

        </section>
        <div class="box" id="vueBox">
<div class="notification is-primary" v-for="(x,i) in todos">
  <button class="delete" @click=""></button>
 {{i}}, {{x.text}}
</div>
        </div>
        <input class="input" type="text" placeholder="text input" v-model="newTodos">
        <button class="btn" @click=:"add()"> add</button>
      <div class="coulmns">A column</div>
      <div class="coulmns">A column</div>
      </div>
    </div>
  </section>
  <script defer src="https://use.fontawesome.com/releasenpm  -v
  ns/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new vue({
  el: '#vueBox',
  data: {
    todos: [
      { text: 'Learn JavaScript' },
      { text: 'Learn Vue' },
      { text: 'Build something awesome' },
    ]
},
methods:{
remove(i){
    this.todos.splice(i, 1);
  },
  add(){
    this.todos.push({text: this.newTodo})
  }
}
})
  </script>
  </body>
</html>